@import 'bootstrap/dist/css/bootstrap.min.css';





body {
  margin: 0;
  font-family: 'M PLUS 1 Code', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3271a8;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
